<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Edit Customer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div layout:fragment="content">
            <h1 class="h2">Edit Customer</h1>
            <div class="container">
                <div class="row">    
                    <form method="post">
                        <div class="form-group row">
                            <label for="inputFullname" class="col-sm-4 col-form-label">Nama Lengkap</label>
                            <div class="col-sm-8">
                                <input name="fullname" id="inputFullname" type="text" class="form-control" placeholder="Nama Lengkap">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
                            <div class="col-sm-8">
                                <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputMobile" class="col-sm-4 col-form-label">No HP</label>
                            <div class="col-sm-8">
                                <input name="mobilePhone" id="inputMobile" type="text" class="form-control" placeholder="+62xxxxxxx">
                            </div>
                        </div>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-4 pt-0">Jenis Kelamin</legend>
                                <div class="col-sm-8">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="rbPria" value="PRIA">
                                        <label class="form-check-label" for="rbPria">
                                            Pria
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="rbWanita" value="WANITA">
                                        <label class="form-check-label" for="rbWanita">
                                            Wanita
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group row">
                            <label for="inputTanggalLahir" class="col-sm-4 col-form-label">Tanggal Lahir</label>
                            <div class="col-sm-8">
                                <input name="birthdate" id="inputTanggalLahir" type="text" class="form-control" placeholder="yyyy-MM-dd">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <button id="simpanCustomer" type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
